/* .adsPageContainer {
     background-image: url(../../assets/woodenBackground.jpg);   
} */
.adsLayer{
    display: flex;
    width: 100%;
    height: 90vh;
    /* background-color: rgba(0, 0, 0, 0.4); */
}
.leftBar{
    flex: 2.5;
}

@media screen and (max-width: 900px) {
  
    .leftBar {
      flex: 0; /* Disable left bar */
    }
    .rightbar {
      flex: 1; /* Take full width for narrow screens */
    }
}

@media screen and (max-width: 700px) {
    .rightbar {
      max-width: 33.33%; /* Limit the maximum width to 1/3 */
    }
}

@media screen and (max-width: 400px) {
  
    .rightbar {
      flex: 0; /* disable right bar */
      height: 0vh;
      display: none;
    }
}

.rightbar{
    flex: 2.5;
}

.adsFilter {
    height: 70vh;
    overflow-y: auto;
}

/* ::-webkit-scrollbar{
    display: none;
} */

.board{
    flex: 5;
    overflow-y: scroll;
}
.adPageWrapper{
    padding: 20px;
}

.boardWrapper {
    padding: 20px;
}

.addPostWrapper{
    z-index: 5;
    direction: rtl;
}

.rightbar::-webkit-scrollbar {
    display: none;
}

.adsFilter::-webkit-scrollbar {
    display: none;
}
.board::-webkit-scrollbar {
    display: none;
}
