* {
  margin: 0;
  padding: 0;
}

#bg-video {
  margin-top: 50px;
  margin-bottom: 150px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

 .main {
  width: 100%;
  height: 100%;
  
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center; 
  color: white;
}

.subtitle {
  position: absolute;
  top: 100px;
  right: 600px;
  align-items: center;
}

.farmer {
  position: absolute;
  top: 300px;
  right: 600px;
  align-items: center;
}

.costumer {
  position: absolute;
  top: 500px;
  right: 600px;
  align-items: center;
}

.question {
  position: absolute;
  top: 200px;
  align-items: center;
}
  .overlay {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}  