
.adsLayer{
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.leftBar{
    flex: 2.5;
}

.rightbar{
    flex: 2.5;
}

.board{
    flex: 5;
}
.adPageWrapper{
    padding: 20px;
}

.boardWrapper {
    padding: 20px;
}

.addPostWrapper{
    z-index: 5;
    direction: rtl;
}